<div class="header">
    <mat-icon aria-hidden="false" aria-label="Example home icon" [routerLink]="['/']" fontIcon="arrow_back" style="color: white;"></mat-icon>
</div>
<h4>Grasping the main idea is a crucial component of critical reading, where students assess the who, what, and why of a text. This process is foundational to the PACT framework. Our AI-powered tool streamlines this task, enabling educators to quickly and effectively extract the essence of any passage. Simply enter the text and click "Generate Results" to receive a concise summary of the content in under 200 words. </h4>
<mat-card class="card">
    <div class="container">
    <h4>Get the Gist</h4>
    </div>
    <form [formGroup]="textForm" (ngSubmit)="submit()">
        <div>
            <mat-form-field class="form">
                <mat-label>Input Text</mat-label>
                <textarea matInput formControlName="text"></textarea>
            </mat-form-field>
        </div>
        <div class="container">
        <button class="btn" mat-flat-button type="submit" [disabled]="!textForm.valid">Generate Results</button>
        </div>
    </form>
</mat-card>
<span></span>
<div class ="text">
    <h3 *ngIf="summary">Gist</h3>
    <p>{{summary}}</p>
</div>

