.header {
    background-color: rgb(59, 48, 251);
    width: 100%; 
    height: 40px;
    display: flex;
    align-items: center; 
    padding-left: 10px; 
    padding-right: 10px; 
}

h3{
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    color: white;
}


.form{
    padding-top: 10px;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
}

.card{
    top:20px;
    width: 75%;
    margin-left: 12%;
    margin-bottom: 20px;
}

textarea {
    min-height: 300px;
}

.container {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}