<div class="header">
    <h3 [routerLink]="['/']">Return</h3>
</div>
<h4>Getting the gist is done during critical reading, this is when students evaluate, who, what, and why. This AI powered tool is to get straight to the gist so that educators can have an idea of what they are looking for from this exercise. To use, enter text and press generate results to get the gist of the passage in under 200 words. </h4>

<mat-card class="card">
    <div class="container">
    <h4>Enter Text</h4>
    </div>
    <form [formGroup]="textForm" (ngSubmit)="submit()">
        <div>
            <mat-form-field class="form">
                <mat-label>Input Text</mat-label>
                <textarea matInput formControlName="text"></textarea>
            </mat-form-field>
        </div>
        <div class="container">
        <button class="btn" mat-flat-button type="submit" [disabled]="!textForm.valid">Generate Results</button>
        </div>
    </form>
</mat-card>
<span></span>
<div class ="text">
    <h3 *ngIf="summary">Gist</h3>
    <p>{{summary}}</p>
</div>

