.header {
    background-color: rgb(59, 48, 251);
    width: 100%; 
    height: 40px;
    display: flex;
    align-items: center; 
    padding-left: 10px; 
    padding-right: 10px; 
}


.form{
    padding-top: 10px;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
}

.card{
    top:20px;
    width: 75%;
    margin-left: 12%;
}

mat-form-field{
    min-height: 300px;
}


h3{
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    color: white;
}
.container {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-gallery {
    margin-top: 100px;
    margin-left: 100px;
    margin-right: 100px;
    display: grid;                  
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr)); 
    gap: 10px;                         
  }
  
  .gallery-image {
    width: 100%;                      
    height: 150px;                 
    object-fit: cover;               
    border-radius: 8px;           
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

h1 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
}

h4{
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
}