.header {
    background-color: rgb(59, 48, 251);
    width: 100%; 
    height: 40px;
    display: flex;
    align-items: center; 
    padding-left: 10px; 
    padding-right: 10px; 
}


.form{
    padding-top: 10px;
    width: 70%;
    margin-left: 15%;
    justify-content: center;
}

.card{
    top:20px;
    width: 75%;
    margin-left: 12%;
}

textarea {
    min-height: 300px;
}

h3{
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    color: white;
}
.container {
    display: flex;
    justify-content: center; 
    margin-top: 10px;
    margin-bottom: 10px;
}

.image-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
  }
  
  .gallery-image {
    width: 200px; 
    min-height: 150px; 
    max-height: 150px;
    object-fit: cover;
    border-radius: 8px; 
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
  }
  
  p {
    margin: 0;
  }
  
h1 {
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
}

h4{
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
}

.example-form-field {
    margin-left: 7%;
    width: 85%;
}


.video-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); 
    gap: 20px; 
    padding: 0 20px;
  }
  
  .video-container iframe {
    width: 100%; 
    height: 200px; 
    border-radius: 8px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    transition: transform 0.3s; 
  }
  
  .video-container iframe:hover {
    transform: scale(1.05); 
  }

  h1 {
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    margin-bottom: 20px;
    font-weight: 300; 
  }
  