<div class="header">
    <h3 [routerLink]="['/']">Return</h3>
</div>
<h4>The Comprehension Canopy is a concept which states that topics should be introduced to students before reading to provide crucial background information. This is an AI powered tool to assist educators in finding these resources. Enter the title and students text below and keywords will be generated. Add and delete as needed to achieve the most optimized vocabulary list. Generate images and videos to go along with the key words. Click images to switch to a different option. </h4>
<mat-card class="card">
    <div class="container">
    <h4>Enter Text</h4>
    </div>
    <form [formGroup]="textForm" (ngSubmit)="submit()">
        <div>
            <mat-form-field class="form">
                <mat-label>Input Content Title</mat-label>
                <input matInput formControlName="title">
            </mat-form-field>
            <mat-form-field class="form">
                <mat-label>Input Text</mat-label>
                <textarea matInput formControlName="text"></textarea>
            </mat-form-field>
        </div>
        <div class="container">
        <button class="btn" mat-flat-button type="submit" [disabled]="!textForm.valid">Generate Keywords</button>
        </div>
    </form>
</mat-card>
<span></span>

<div class="keyword-container">
  <h2>Keywords</h2>
  <section>
      <mat-form-field class="example-form-field">
        <mat-label>Keywords</mat-label>
        <mat-chip-grid #reactiveChipGrid aria-label="Enter reactive form keywords" [formControl]="formControl">
        @for (keyword of reactiveKeywords(); track keyword) {
          <mat-chip-row (removed)="removeReactiveKeyword(keyword)">
            {{keyword}}
          <button matChipRemove aria-label="'remove reactive form' + keyword">
            <mat-icon>cancel</mat-icon>
          </button>
          </mat-chip-row>
        }
        </mat-chip-grid>
        <input
          placeholder="New keyword..."
          [matChipInputFor]="reactiveChipGrid"
          (matChipInputTokenEnd)="addReactiveKeyword($event)"
        />
      </mat-form-field>
  </section>
  <div class="container-i">
    <button class="btn" [disabled]="!text_keywords" mat-flat-button (click)="generateImages()">Generate Images</button>
    </div>
</div>


  <h2 *ngIf="showResourseSection">Images</h2>
  <div class="image-gallery">
    <div *ngFor="let item of urlList">
      <div style="text-align: center;">
        <p>{{ item[0] }}</p> 
        <img [src]="item[1]" alt="Image" class="gallery-image" (click)="reGenerate(item[0], item[1])"/>
      </div>
    </div>
  </div>
  <div class="container-i">
    <button *ngIf="showResourseSection" class="btn" [disabled]="!text_keywords" mat-flat-button (click)="openDialog()">Generate Vocab PDF</button>
  </div>

  <h2 *ngIf="showResourseSection" >Videos</h2>
  <div class="video-container">
    <div *ngFor="let videoId of videoIds">
      <iframe 
        [src]="getSanitizedUrl(videoId)" 
        frameborder="0" 
        allowfullscreen>
      </iframe>
    </div>
  </div>

