
.container {
    display: flex;
    width: 100%; 
    height: 100vh; 
    overflow: hidden; 
    position: relative;
}

.image-container {
    position: relative;
    width: 50%; 
    height: 100%; 

}

.image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover; 
}

.image-container:before {
    content: '';
    position: absolute;
    top: 0; bottom: 0; left: 0; right: 0;
    background-color: rgba(0, 0, 0, 0.5); 
}


.image-container h1 {
    position: absolute; 
    margin: 0; 
    padding: 10px;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300; 
    color: white;
    font-size: 3rem; 
}

.top-left {
    top: 10px;
    left: 10px;
}

.bottom-right {
    bottom: 10px; 
    right: 10px;
}