<img id = "about" src="/typing.gif" alt="typing gif" class="image">   
<div class="content">
    <div class="text">
        <h2>About imPACTful</h2>
        <p>Welcome to imPACTful, where we Promote Adolescents’ Comprehension of Text by assisting teachers in quickly and efficiently developing quality lessons using AI technology to shorten lesson development timelines while increasing lesson quality. 

            Problem-Solving:  When creating a quality lesson that relies on literacy or text-based content, teachers frequently spend extra time searching for media and resources that appropriately correlate to the lesson they are trying to construct.  
            
            ImPACTful is a project designed to assist teachers in quickly and efficiently generating appropriate media and resources necessary to accompany lessons to ensure student comprehension of the text and overall lesson. 
            </p>
    </div>
    <img src="/mom2.jpg" alt="Sandy Mackin" class="image">   
</div>
