<h2 mat-dialog-title>Download Vocab PDF</h2>
<mat-dialog-content class="mat-typography">
   <mat-slide-toggle [(ngModel)]="isChecked">Include Spanish Translations</mat-slide-toggle>
        <div class ="image-gallery"*ngFor="let keyword of keywords; let i = index">
            <p>{{ keyword }}</p> 
            <!-- <img [src]="urls[i]" alt="Image" class="gallery-image" style="max-width:150px; max-height: 150px; min-height: 140px;"/> -->
            <p *ngIf="isChecked">{{translations[i]}}</p>
        </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
<button  class="btn" mat-flat-button (click)="generatePDF()">Generate Vocab PDF</button>
  <button mat-button mat-dialog-close>Cancel</button>
</mat-dialog-actions>
